<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <h1>结算</h1>
    <h4>总计: ${{ total }}</h4>

    <div id="charge-error" class="alert alert-danger {{# if noError  }} hidden {{/if}}">
        {{errMsg}}
    </div>

    <form id="checkout-form" action="/checkout"  method="post">
        <div class="row">
          <div class="col-xs-12">
              <div class="form-group">
                <label for="name">姓名</label>
                <input type="text" id="name" class="form-control" required name="name">
              </div>
          </div>
          <div class="col-xs-12">
              <div class="form-group">
                <label for="address">地址</label>
                <input type="text" id="address" class="form-control" required name="address">
              </div>
          </div>
          <div class="col-xs-12">
              <div class="form-group">
                <label for="card-name">卡名</label>
                <input type="text" id="card-name" class="form-control" required>
              </div>
          </div>
          <div class="col-xs-12">
              <div class="form-group">
                <label for="card-number">卡号</label>
                <input type="text" id="card-number" class="form-control" required>
              </div>
          </div>
          <div class="col-xs-6">
              <div class="form-group">
                <label for="card-expiry-month">截止月份</label>
                <input type="text" id="card-expiry-month" class="form-control" required>
              </div>
          </div>
          <div class="col-xs-6">
              <div class="form-group">
                <label for="card-expiry-year">截止年份</label>
                <input type="text" id="card-expiry-year" class="form-control" required>
              </div>
          </div>
          <div class="col-xs-12">
              <div class="form-group">
                <label for="card-cvc">CVC</label>
                <input type="text" id="card-cvc" class="form-control" required>
              </div>
          </div>

          <div>
              <button type="submit" class="btn btn-success">提交</button>
          </div>
        </div>
    </form>
  </div>
</div>


<!-- 第一步 SDK https://stripe.com/docs/stripe.js? -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>
